@using MyProject2.ViewModels
@model MyProject2.ViewModels.ProductEditVm
<form action="submit" method="post">
<div class="row">
<div class="col-4">
    <div class="card">
        <div class="card-body">

                    
    <label asp-for="ProductName"></label>
    <input asp-for="ProductName" type="text" class="form-control">
    <span asp-validation-for="ProductName" class="text-danger"></span>

    

     <div class="form-group">
      <button class="btn btn-submit" type="submit">Save</button>
       </div>
     </div>
     </div>
     </div>
     </div>
   
</form>

